<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <!-- Form CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="#">
    <title>Ensure Mask</title>
</head>

<body>
    <img src=" url_for('static', filename='images/google.png')" alt="">
    <img src=" url_for('static', filename='images/facebook.png')" alt="">
    <img src=" url_for('static', filename='images/twitter.png')" alt="">

</body>

</html>